DATABASE_URL = postgres://postgres:<password>@localhost:5432/<database>
# secrecte key example: 3143547867.saveprotect
PAYLOAD_SECRET = 3143547867.saveprotect
NEXT_PUBLIC_API_URL = http://localhost:3000/api